.about {
    overflow: hidden;
}

.circle {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 182px;
    border: 7px solid #f1f1f1;
    border-radius: 50%;
    background-color: #fed136;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    color: #ffffff;
}

.about_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.about_list::after {
    position: relative;
    top: -620px;
    transform: rotate(90deg);
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #f1f1f1;
    z-index: 1;
}

.about_list_item_left {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about_list_item_left .text {
    text-align: right;
    width: 300px;
}

.about_list_item_left .text h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #222222;
}

.about_list_item_left .text h3 span {
    text-transform: uppercase;
}

.about_list_item_left .text p {
    font-family: 'RobotoSlab', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.025em;
    color: #777777;
    height: 98px;
}

.about_list_item_left .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    z-index: 99;
}

.about_list_item_left .clear {
    width: 300px;
}


/* Right container */

.about_list_item_right {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about_list_item_right .text {
    text-align: left;
    width: 300px;
}

.about_list_item_right .text h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #222222;
}

.about_list_item_right .text h3 span {
    text-transform: uppercase;
}

.about_list_item_right .text p {
    font-family: 'RobotoSlab', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.025em;
    color: #777777;
    height: 98px;
}

.about_list_item_right .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    z-index: 99;
}

.about_list_item_right .clear {
    width: 300px;
}

@media (max-width: 768px) {
    .about_list {
        padding: 0 30px;
    }
    .about_list::after {
        width: 1100px;
    }
    .about_list_item_left .text h3 {
        font-size: 14px;
    }
    .about_list_item_left .text p {
        font-size: 12px;
    }
    .about_list_item_right .text h3 {
        font-size: 14px;
    }
    .about_list_item_right .text p {
        font-size: 12px;
    }
}

@media (max-width: 414px) {
    .about_list::after {
        display: none;
    }
    .about_list_item_left .image img,
    .about_list_item_right .image img {
        width: 100px;
    }
    .about_list_item_left .clear,
    .about_list_item_right .clear {
        display: none;
    }
    .circle {
        border: 7px solid #ffffff;
        background-color: #ffffff;
        color: #222222;
    }
}

@media (max-width: 400px) {
    .about_list::after {
        display: none;
    }
    .about_list_item_left .image img,
    .about_list_item_right .image img {
        width: 100px;
    }
    .about_list_item_left .clear,
    .about_list_item_right .clear {
        display: none;
    }
    .circle {
        border: 7px solid #ffffff;
        background-color: #ffffff;
        color: #222222;
    }
}

@media (max-width: 380px) {
    .about_list::after {
        display: none;
    }
    .about_list_item_left .image img,
    .about_list_item_right .image img {
        width: 100px;
    }
    .about_list_item_left .clear,
    .about_list_item_right .clear {
        display: none;
    }
    .circle {
        border: 7px solid #ffffff;
        background-color: #ffffff;
        color: #222222;
    }
}

@media (max-width: 360px) {
    .about_list::after {
        display: none;
    }
    .about_list_item_left .image img,
    .about_list_item_right .image img {
        width: 100px;
    }
    .about_list_item_left .clear,
    .about_list_item_right .clear {
        display: none;
    }
    .circle {
        border: 7px solid #ffffff;
        background-color: #ffffff;
        color: #222222;
    }
}

@media (max-width: 340px) {
    .about_list::after {
        display: none;
    }
    .about_list_item_left .image img,
    .about_list_item_right .image img {
        width: 100px;
    }
    .about_list_item_left .clear,
    .about_list_item_right .clear {
        display: none;
    }
    .circle {
        border: 7px solid #ffffff;
        background-color: #ffffff;
        color: #222222;
    }
}

@media (max-width: 320px) {
    .about_list::after {
        display: none;
    }
    .about_list_item_left .image img,
    .about_list_item_right .image img {
        width: 100px;
    }
    .about_list_item_left .clear,
    .about_list_item_right .clear {
        display: none;
    }
    .circle {
        border: 7px solid #ffffff;
        background-color: #ffffff;
        color: #222222;
    }
}