:root {
    --height-header: 70px;
}

.header_container {
    width: 100%;
    height: 700px;
    background-image: url('./../img/header/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    height: var(--height-header);
}

.logo {
    font-family: 'Wisdom-Script', sans-serif;
    font-size: 26px;
    line-height: 41px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #fed136;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_item {
    cursor: pointer;
    margin: 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 41px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.burger_btn {
    cursor: pointer;
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid #dddddd;
}

.burger_btn::after {
    position: relative;
    top: 8px;
    left: -25%;
    display: block;
    content: '';
    width: 70%;
    height: 2px;
    background-color: #ffffff;
    transition: transform .2s linear;
}

.burger_btn::before {
    position: relative;
    bottom: -17px;
    left: 25%;
    display: block;
    content: '';
    width: 70%;
    height: 2px;
    background-color: #ffffff;
}

.burger_menu {
    display: none;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 100px;
    position: fixed;
    top: 30px;
    right: 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 3px 3px 7px #222222;
}

.burger_menu_list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
}

.burger_menu_list_item {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.burger_menu_list_item a {
    color: #222222;
    text-transform: uppercase;
    text-decoration: none;
}

.active {
    display: flex;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100% - var(--height-header));
}

.suptitle p {
    text-align: center;
    font-family: 'DroidSerif', sans-serif;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -0.025em;
    color: #ffffff;
    padding-bottom: 30px;
}

.title p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    color: #ffffff;
    padding-bottom: 30px;
}

.btn button {
    cursor: pointer;
    width: 240px;
    height: 65px;
    background-color: #fed136;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn button:hover {
    background-color: #dfbb39;
}

.btn button:active {
    background-color: #ebba08;
}


/* Resize */


/* 1024 */

@media (max-width: 1024px) {
    .header {
        padding: 0 30px;
    }
}


/* 812 */

@media (max-width: 812px) {
    .header {
        padding: 0 30px;
    }
    .list {
        display: none;
    }
    .burger_btn {
        display: flex;
    }
    .suptitle p {
        font-size: 30px;
        padding: 0;
    }
    .title p {
        font-size: 45px;
        padding: 40px 10px;
    }
    .btn button {
        width: 200px;
        height: 45px;
    }
}


/* 768 */

@media (max-width: 768px) {
    .header {
        padding: 0 30px;
    }
    .list {
        display: none;
    }
    .burger_btn {
        display: flex;
    }
    .suptitle p {
        font-size: 30px;
        padding: 0;
    }
    .title p {
        font-size: 45px;
        padding: 40px 10px;
    }
    .btn button {
        width: 200px;
        height: 45px;
    }
}


/* 740 */

@media (max-width: 740px) {
    .header {
        padding: 0 30px;
    }
    .list {
        display: none;
    }
    .burger_btn {
        display: flex;
    }
}


/* 480 */

@media (max-width: 480px) {
    .header {
        padding: 0 30px;
    }
    .list {
        display: none;
    }
    .burger_btn {
        display: flex;
    }
}


/* 375 */

@media (max-width: 375px) {
    .header_container {
        height: 500px;
    }
    .list {
        display: none;
    }
    .burger_btn {
        display: flex;
    }
    .suptitle p {
        font-size: 20px;
        padding: 0;
    }
    .title p {
        font-size: 35px;
        padding: 30px 20px;
    }
    .btn button {
        width: 170px;
        height: 45px;
    }
}


/* 360 */

@media (max-width: 360px) {
    .header_container {
        height: 500px;
    }
    .list {
        display: none;
    }
    .burger_btn {
        display: flex;
    }
    .suptitle p {
        font-size: 20px;
        padding: 0;
    }
    .title p {
        font-size: 35px;
        padding: 30px 10px;
    }
    .btn button {
        width: 170px;
        height: 45px;
    }
}


/* 320 */

@media (max-width: 320px) {
    .header_container {
        height: 500px;
    }
    .list {
        display: none;
    }
    .burger_btn {
        display: flex;
    }
    .suptitle p {
        font-size: 20px;
    }
    .title p {
        font-size: 35px;
    }
    .btn button {
        width: 170px;
        height: 45px;
    }
}