    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 100px 0;
    }
    
    .portfolio,
    .team {
        background-color: #f7f7f7;
    }
    
    .title h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        line-height: 75px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.025em;
        color: #222222;
    }
    
    .subtitle p {
        text-align: center;
        font-family: 'DroidSerif', sans-serif;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        font-style: italic;
        color: #777777;
    }
    
    .content_list {
        padding-top: 60px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        max-width: 1000px;
    }
    
    .portfolio .content_list {
        padding-top: 60px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        max-width: 1200px;
    }
    
    .groups .content_list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 1200px;
        margin: 0 10px;
        max-width: 100%;
    }
    
    .groups .content_list img {
        margin: 0 10px;
    }
    
    .content_list_item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 270px;
        margin: 0 30px;
    }
    
    .portfolio .content_list_item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 290px;
        margin: 20px;
        background-color: #222222;
    }
    
    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
    }
    
    .portfolio .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        background-color: #222222;
    }
    
    .team .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
    }
    
    .team .icon {
        width: 250px;
        height: 250px;
        background-color: #222222;
        border-radius: 50%;
        border: none;
    }
    
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 73px;
        height: 73px;
        border: 3px solid #fed136;
        border-radius: 50%;
    }
    
    .item_title h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        line-height: 75px;
        font-weight: 700;
        letter-spacing: -0.025em;
        color: #222222;
    }
    
    .portfolio .item_title {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 290px;
        background-color: #ffffff;
    }
    
    .portfolio .item_title h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        line-height: 25px;
        font-weight: 700;
        letter-spacing: -0.025em;
        color: #222222;
        padding-top: 20px;
    }
    
    .team .item_title h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        line-height: 25px;
        font-weight: 700;
        letter-spacing: -0.025em;
        color: #222222;
        padding-top: 20px;
    }
    
    .item_text p {
        text-align: center;
        font-family: 'RobotoSlab', sans-serif;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: -0.025em;
        color: #777777;
    }
    
    .portfolio .item_text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 290px;
        padding-bottom: 30px;
        background-color: #ffffff;
    }
    
    .team .container_icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .team .social_icon {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 41px;
        height: 41px;
        border-radius: 50%;
        border: 3px solid #222222;
        margin: 0 5px;
        transition: transform .2s linear;
    }
    
    .team .social_icon:hover {
        transform: rotate(-30deg);
    }
    
    .team .text {
        padding-top: 60px;
        text-align: center;
        width: 100%;
        max-width: 650px;
    }
    
    .team .text p {
        font-family: 'RobotoSlab', sans-serif;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: -0.025em;
        color: #777777;
    }
    
    .contact {
        background-color: #222222;
    }
    
    .contact .title h1 {
        color: #ffffff;
    }
    
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;
        margin-top: 60px;
    }
    
    .form_box_text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 211px;
    }
    
    .box_inputs {
        margin-right: 13.75px;
    }
    
    .box_textarea {
        margin-left: 13.75px;
    }
    
    .box_inputs,
    .box_textarea {
        width: 457px;
        height: 100%;
    }
    
    .box_inputs input {
        text-indent: 20px;
        width: 100%;
        height: 52px;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    
    .input {
        margin: 27.5px 0;
    }
    
    .box_textarea textarea {
        resize: none;
        text-indent: 30px;
        line-height: 50px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    
    .form_box_btn {
        margin-top: 27.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .form_box_btn input {
        cursor: pointer;
        width: 240px;
        height: 65px;
        background-color: #fed136;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    
    .form_box_btn input:hover {
        background-color: #dfbb39;
    }
    
    .form_box_btn input:active {
        background-color: #ebba08;
    }
    /* Resize */
    /* 1024 */
    
    @media (max-width: 1024px) {
        .form_box_text {
            padding-top: 60px;
            justify-content: center;
        }
        .box_inputs {
            margin-right: 13.75px;
            margin-bottom: 0px;
        }
        .box_textarea {
            margin-left: 13.75px;
        }
        .box_inputs,
        .box_textarea {
            width: 250px;
            height: 100%;
        }
        .form_box_btn {
            padding-top: 70px;
        }
        .form_box_btn input {
            width: 100%;
            height: 45px;
        }
    }
    /* 812 */
    
    @media (max-width: 812px) {
        .form_box_text {
            padding-top: 60px;
            justify-content: center;
        }
        .box_inputs {
            margin-right: 13.75px;
            margin-bottom: 0px;
        }
        .box_textarea {
            margin-left: 13.75px;
        }
        .box_inputs,
        .box_textarea {
            width: 250px;
            height: 100%;
        }
        .form_box_btn {
            padding-top: 70px;
        }
        .form_box_btn input {
            width: 100%;
            height: 45px;
        }
    }
    /* 768 */
    
    @media (max-width: 768px) {}
    /* 740 */
    
    @media (max-width: 740px) {
        .groups .content_list {
            padding: 0 150px;
        }
        .groups .content_list img {
            margin: 30px 40px;
        }
        .form_box_text {
            padding-top: 60px;
            justify-content: center;
            flex-direction: column;
        }
        .box_inputs {
            margin-right: 0px;
            margin-bottom: 27.5px;
        }
        .box_textarea {
            padding-top: 60px;
            margin-left: 0px;
        }
        .box_inputs,
        .box_textarea {
            width: 300px;
            height: 100%;
        }
        .form_box_btn {
            padding-top: 70px;
        }
        .form_box_btn input {
            width: 100%;
            height: 45px;
        }
    }
    /* 480 */
    
    @media (max-width: 480px) {
        .groups .content_list img {
            margin: 30px 10px;
        }
        .form_box_text {
            padding-top: 60px;
            justify-content: center;
            flex-direction: column;
        }
        .box_inputs {
            margin-right: 0px;
            margin-bottom: 27.5px;
        }
        .box_textarea {
            padding-top: 60px;
            margin-left: 0px;
        }
        .box_inputs,
        .box_textarea {
            width: 300px;
            height: 100%;
        }
        .form_box_btn {
            padding-top: 70px;
        }
        .form_box_btn input {
            width: 100%;
            height: 45px;
        }
    }
    /* 414 */
    
    @media (max-width: 414px) {
        section {
            width: 100%;
            padding: 100px 0;
        }
        .title h1 {
            font-size: 30px;
        }
        .subtitle p {
            font-size: 16px;
            padding: 0 30px;
        }
        .groups .content_list {
            padding: 0 50px;
        }
        .groups .content_list img {
            margin: 30px 10px;
        }
        .form_box_text {
            padding-top: 60px;
            justify-content: center;
            flex-direction: column;
        }
        .box_inputs {
            margin-right: 0px;
            margin-bottom: 27.5px;
        }
        .box_textarea {
            padding-top: 60px;
            margin-left: 0px;
        }
        .box_inputs,
        .box_textarea {
            width: 300px;
            height: 100%;
        }
        .form_box_btn {
            padding-top: 70px;
        }
        .form_box_btn input {
            width: 100%;
            height: 45px;
        }
    }
    /* 375 */
    
    @media (max-width: 375px) {
        section {
            width: 100%;
            padding: 100px 0;
        }
        .title h1 {
            font-size: 30px;
        }
        .subtitle p {
            font-size: 16px;
            padding: 0 30px;
        }
        .team .text p {
            padding: 30px;
            font-size: 12px;
        }
        .groups .content_list {
            padding: 0 30px;
        }
        .groups .content_list img {
            margin: 30px 10px;
        }
        .form_box_text {
            padding-top: 60px;
            justify-content: center;
            flex-direction: column;
        }
        .box_inputs {
            margin-right: 0px;
            margin-bottom: 27.5px;
        }
        .box_textarea {
            padding-top: 60px;
            margin-left: 0px;
        }
        .box_inputs,
        .box_textarea {
            width: 300px;
            height: 100%;
        }
        .form_box_btn {
            padding-top: 70px;
        }
        .form_box_btn input {
            width: 100%;
            height: 45px;
        }
    }
    /* 360 */
    
    @media (max-width: 360px) {
        section {
            width: 100%;
            padding: 100px 0;
        }
        .title h1 {
            font-size: 26px;
        }
        .subtitle p {
            font-size: 16px;
            padding: 0 30px;
        }
        .team .text p {
            padding: 30px;
            font-size: 12px;
        }
        .groups .content_list {
            padding: 0 30px;
        }
        .groups .content_list img {
            margin: 30px 10px;
        }
        .form_box_text {
            padding-top: 60px;
            justify-content: center;
            flex-direction: column;
        }
        .box_inputs {
            margin-right: 0px;
            margin-bottom: 27.5px;
        }
        .box_textarea {
            padding-top: 60px;
            margin-left: 0px;
        }
        .box_inputs,
        .box_textarea {
            width: 300px;
            height: 100%;
        }
        .form_box_btn {
            padding-top: 70px;
        }
        .form_box_btn input {
            width: 100%;
            height: 45px;
        }
    }
    /* 320 */
    
    @media (max-width: 320px) {
        section {
            width: 100%;
            padding: 100px 0;
        }
        .title h1 {
            font-size: 26px;
        }
        .subtitle p {
            font-size: 16px;
            padding: 0 30px;
        }
        .team .text p {
            padding: 30px;
            font-size: 12px;
        }
        .groups .content_list img {
            margin: 30px 10px;
        }
        .form_box_text {
            padding-top: 60px;
            justify-content: center;
            flex-direction: column;
        }
        .box_inputs {
            margin-right: 0px;
            margin-bottom: 27.5px;
        }
        .box_textarea {
            padding-top: 60px;
            margin-left: 0px;
        }
        .box_inputs,
        .box_textarea {
            width: 300px;
            height: 100%;
        }
        .form_box_btn {
            padding-top: 70px;
        }
        .form_box_btn input {
            width: 100%;
            height: 45px;
        }
    }